*{
  padding: 0;
  margin: 0;
}

body{
  overflow-x: hidden;
}

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
  box-sizing: border-box;
}

.header{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #0077ff;
   color: #c9dff9;
  font-family: "Headland One", serif;
}

.main div{
  margin-bottom: 20px;
}

.main{
  padding:3rem; 
}

.main h2{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.main p{
  font-family: "Allerta", sans-serif;
}

.link {
  display: none; 
}

.card{
  border-width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  color: black;
  margin: 10px;
}

#HDD{
  width: 30%;
  height: 30%;
}

.Scroll-top {
  position: fixed;
  bottom: 4rem; 
  right: 30px; 
  text-decoration: none;
  box-sizing: border-box;
  background-color: #0077ff;
  padding: 5px;
  border-radius: 15px;
  font-weight: bolder;
  font-family: "Headland One", serif;  font-size: 1.4rem;
  color: #c9dff9;
}
.Scroll-top a :hover{
  cursor: pointer;
  background-color: #c9dff9;
}


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #0077ff;
   color: #f5f8fc;
  font-family: 'Courier New', Courier, monospace;
}
.footer ul {
  list-style-type: none; 
  padding: 2rem; 
  margin: 0; 
}

.footer a {
  text-decoration: none; 
  color: inherit; 
}

/*responsive*/

/* Laptop */
@media only screen and (min-width: 768px) {
.header{
  height: 80px;
}

  .main{
    display: flex;
    box-sizing: border-box;
  }

  .link{
    display: flex;
    flex-direction: column
  }

  .info{
    flex: 1;
    border-right:3px slid ;
    border-color:black ;
  }
  .link ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.link a {
    text-decoration: none;
    color: inherit;
}

}
